/* header {
    background-image: linear-gradient(black, gray, white);
} */
.top-gradient{
    background: url(./images/gradient-top.png) repeat-x;
    height: 170px;
    position: absolute;
    top: 0;
}

.full{
    width:100%;
}

.left, .alignleft{
    float: left;
}

.overlay  {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: #1b1b1b;
    opacity: .7;
    z-index: 0;
}

video{
    background-position: center center;
    min-width: 100%;
    min-height:100vh;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
}

#vid{
    object-fit: contain;
}


/* NAV BAR */


/* Scroll & Image */
.index-page{
    position: relative;
    overflow: hidden;
    background-color: black;
    -webkit-font-smoothing: antialiased;
}

section div{
    display: block;
}


.sqs-block-content{
    text-align: center;
    color: white;
}

.Index-page-content{
    max-width: 1680px;
    margin-left: auto;
    margin-right:auto;
}

